#panel {
    position: absolute;
    z-index: var(--panel-index);
    top: 0;
    left: 0;
    min-width: var(--panel-min-width);
    max-width: var(--panel-max-width);
    width: var(--panel-width);
    height: 100%;
    background: var(--panel-background);
    display: flex;
    justify-content: space-between;
    border-right: var(--panel-border);
}
#panel-content {
    width: 100%;
}
#panel-resizer {
    width: var(--panel-resizer-width);
}
#panel-resizer:hover {
    cursor: var(--panel-resize-cursor);
}