:root {
    --grid-width: 20000px;
    --grid-top: -8000px;
    --grid-left: -8000px;
    --grid-cell-width: 32px;
    --grid-cell-height: 32px;
    --grid-border: 1px solid #ccc;
    --grid-background: #eee;
    --grid-index: 5;

    --panel-background: #eee;
    --panel-resizer-width: 3px;
    --panel-resize-cursor: col-resize;
    --panel-width: 300px;
    --panel-min-width: 200px;
    --panel-max-width: 760px;
    --panel-border: 1px solid #888;
    --panel-index: 10;

    --buffer-color: #000;
}
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--grid-background);
    font-family: 'Helvetica';
}
#wrapper {
    display: none;
}