/* CSS Reset */
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
    overflow:hidden;
    background-color: gray;
}
#grid {
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
}
.cell {
    width: 16px;
    height: 16px;
}