/* CSS Reset */
:root {
    --grid-width: 6000px;
    --grid-cell-width: 32px;
    --grid-cell-height: 32px;
    --grid-border: 1px solid #ccc;
    --grid-background: #eee;

    --panel-background: #eee;
    --panel-width: 300px;
    --panel-border: 1px solid #888;
}
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--grid-background);
}
#panel {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    min-width: 280px;
    width: var(--panel-width);
    height: 100%;
    background: var(--panel-background);
    display: flex;
    justify-content: space-between;
    border-right: var(--panel-border);
}
#panel-content {
    width: 100%;
}
#panel-resizer {
    width: 3px;
}
#panel-resizer:hover {
    cursor: col-resize;
}
#grid {
    display: grid;
    grid-template-columns: repeat(
        auto-fit, 
        minmax(var(--grid-cell-width), var(--grid-cell-width))
    );
    grid-template-rows: repeat(
        auto-fit, 
        minmax(var(--grid-cell-height), var(--grid-cell-height))
    );
    position: absolute;
    z-index: 5;
    top: 0;
    left: var(--panel-width);
    width: var(--grid-width);
    background: var(--grid-background);
}
.cell {
    width: var(--grid-cell-width);
    height: var(--grid-cell-height);
    border-bottom: var(--grid-border);
    border-right: var(--grid-border);
}